<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA48dhigUkmwX3UVhjHPNmFagfDFbGYjEQ</string>
	<key>BUNDLE_ID</key>
	<string>mojito.pins</string>
	<key>CLIENT_ID</key>
	<string>725998349267-huviv56imcutd1nd38a28njqp6kv661t.apps.googleusercontent.com</string>
	<key>DATABASE_URL</key>
	<string>https://pins-1ab73-default-rtdb.firebaseio.com</string>
	<key>GCM_SENDER_ID</key>
	<string>725998349267</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:725998349267:ios:e02f9e52ae5c378ca51d26</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>pins-1ab73</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725998349267-huviv56imcutd1nd38a28njqp6kv661t</string>
	<key>STORAGE_BUCKET</key>
	<string>pins-1ab73.appspot.com</string>
</dict>
</plist>
